/* * {
  box-sizing: border-box;
} */

body {
/* display: inline; */
  margin: 0 !important;
  font-family: Roboto;
}

.home-body {
  background-color: rbga(110, 97, 255, 0.10);
  background-image: url("../images/background-image.png");
  background-size: cover;
  background-repeat: no-repeat;
}


.wrapper {
  display: flex;
}


.caseStudy {
  height: 31vh;
  margin: 0;
}


.mainBar {
  font-family: Roboto;
  height: 100vh; /* Full-height: remove this if you want "auto" height
  /* width: 30vh; /* Set the width of the sidebar */
  /* left: 0; */
  margin-left: 40px;
  margin-top: 40px;
  overflow-x: hidden; /* Disable horizontal scroll */
  position: -webkit-sticky;
  position: sticky; /* Fixed Sidebar (stay in place on scroll) */
  /* top: 0; /* Stay at the top */
  z-index: 1; /* Stay on top */
}


.sidenav {
  padding-top: 100px;
  position: absolute;
}


.sidenav a {
  color: #383838;
  display: block;
  font-size: 18px;
  font-weight: lighter;
  padding: 6px 0px 10px 0px;
  text-decoration: none;
}


.sidenav a:hover {
  color: #6e61ff;
}


.sidenav a:active {
  color: #383838;
  font-size: 26px;
  text-decoration-color: #FFE660;
  text-decoration: underline;
}


.topnav {
  align-items: center;
  max-height: 100px;
  padding-left: 2em;
  padding-top: 1em;
}


/* main {
  /* max-width: 800px; */
  /* z-index: 0 !important;
  position: relative;
} */


h1 {
  color: #383838;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 44px;
  margin-top: 50px;
  margin-bottom: 10px;
  line-height: .5em;
}

.longh1 {
  margin-top: 1em !important;
  max-height: 70px;
  text-shadow: 2px 1px 5px rgba(130,130,130, 50%)
}


h2 {
  color: #383838;
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
  border-bottom: 3px solid #FFE660;
  width: fit-content;
  height: fit-content;
}


h3 {
  color: #6e61ff;
  font-family: Roboto;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  margin: 0;
  padding-top: 10px;
}


h4 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


h5 {
  font-size: 16px;
  font-weight: normal;
}


h6 {
  border-bottom: 3px solid #6e61ff;
  font-size: 18px;
  font-weight: normal;
  padding-top: 1em;
  margin: 0;
  width: fit-content;
  height: fit-content;
}


p {
  color: #383838;
  font-family: Roboto;
  font-weight: normal;
}


.main-card {
  background-color: #6E61FF;
  flex-direction: column;
  font-size: 1.2em;
  /* position: absolute; */
  /* right: 0;
  bottom: 0; */
  position: flex;
  text-align: center;
  width: 100%;
}

.main-card button {
  border-radius: 0, 0, 0.3em, 0.3em !important;
}

.main-card a {
  color: #fff !important;
}



button {
  background-color: #FFE660;
  border-color: #E9E9E9;
  border-radius: .4em;
  border-width: 0.3px;
  color: #383838;
  box-shadow: 2px 2px 4px rgba(0,0,0,25%);
  font-size: 14px;
  font-weight: 500;
  padding: 0.6em;
}


button a {
  text-decoration: none;
}


.project-cards {
  display: block;
  margin-left: 3vh;
  overflow-y: none;
  padding-top: 3vh;
  padding-bottom: 3vh;
  position: absolute;
  right: 0;
  text-align: center;
  width: 60%;
}

.project-1 {
  background-color: #fff;
  border-radius: 0.3em;
  box-shadow: 2px 2px 4px rgba(0,0,0,25%);
  display: block;
  margin-top: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  position: relative;
  text-align: center;
  width: 100%;
}

.project-1 p {
  max-width: 400px;
}

.mainHeader {
  display: flex;
  padding-left: 3em;
}

.mainHeader h1 {
  font-size: 40px;
  margin-left: 1em;
}

.longlogo {
  height: auto;
  max-width: 120px;
}

.mainBarLong {
  background-color: #fff;
  overflow: hidden;
  padding-top: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}


#caseNavBar {
  background-color: #383838;
  display: flex;
  height: 3em;
  justify-content: center;
  /* margin-top: 1em; */
  padding-top: 1.5em;
  /* width: 100% !important; */
}


#caseNavBar a {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  padding-left: 4em;
  padding-right: 4em;
  text-decoration: none;
  /* width: 100% !important; */
}


.topnav {
  display: inline;
  margin-left: auto;
  margin-top: 1em;
  order: 2;
}


.topnav a {
  color: #383838;
  font-size: 1.5em;
  font-family: Roboto;
  font-weight: lighter;
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
}


.left-text {
  color: #383838;
  justify-content: flex-start;
  margin-left: 10em;
  margin-right: 3em;
  max-width: 400px;
  min-width: 400px;
  padding-bottom: 3em;
}


.arch-text {
  color: #383838;
  justify-content: flex-start;
  margin-right: 3em;
  margin-left: 10em;
  max-width: 400px;
  padding-bottom: 0;
}


.list-text {
  display: flex;
  padding-left: 10em;
}


.list-text a {
  text-decoration: none;
}


.list-text li {
  color: #6E61FF;
  font-size: 1.5em;
  max-width: 400px;
  padding-bottom: 10px;
}


.list-text span {
  color: #383838;
  font-size: 14px;
}


.list-text ul, p {
  align-content: center;
  justify-content: center;
  max-width: 400px;
  padding-right: 2em;
}


.heroh1 {
  font-family: Roboto;
  font-size: 4em;
  font-weight: 500;
  margin-bottom: .5em;
}


.intro {
  background-color: rgba(110,97,255, 10%);
  display: flex;
  /* justify-content: center; */
  padding-top: 3em;
  padding-bottom: 3em;
}


.overview {
  display: flex;
  /* justify-content: center; */
  padding-top: 2em;
}


.letseat-hero img {
  /* display: flex; */
  /* justify-content: flex-end; */
  height: auto;
  max-width: 600px;
}


.ux-list {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
}


.ux-list ul {
  list-style: none;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}


.ux-list h5 {
  border-bottom: 2px solid #6E61FF;
  color: #383838;
  font-size: 14px;
  font-weight:bold;
  text-align: center;
  width: fit-content;
}


.research {
  background-color: rgba(110,97,255, 10%);
  display: flex;
  justify-content: flex-start;
  padding-top: 1em;
}


.survey-images {
  background-color: rgba(110,97,255, 10%);
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
  padding-left: 10em;
}


.takeaways {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
  padding-top: 2em;

}


.user-persona-images {
  display: flex;
  justify-content: center;
}


.user-persona-images img {
  padding-bottom: 3em;
  padding-left: 3em;
}


.user-persona-button {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}


.competitive-analysis {
  background-color: rgba(110,97,255, 10%);
  padding-top: 1em;
}


.comp-images {
  display: flex;
  justify-content: center;
}


.comp-images img {
  padding-bottom: 3em;
  padding-left: 3em;
}


.comp-analysis-button {
  background-color: rgba(110,97,255, 10%);
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
}


.user-task-images {
  display: flex;
  justify-content: center;
  padding-top: 3em;
}


.user-task-images p {
  font-style: italic;
}


.wireframes {
  background-color: rgba(110,97,255, 10%);
  padding-bottom: 1em;
  padding-top: 2em;
}


.user-testing-1 {
  background-color: rgba(110,97,255, 10%);
  padding-bottom: 2em;
}


#purple-background {
  background-color: rgba(110,97,255, 10%);
}


.back-to-top {
  float: right;
  font-weight: bold;
}


@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
