/* HOME PAGE */
html,body {
  margin: 0;
  font-family: 'Roboto',sans-serif;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

footer {
  text-align: center;
  margin: auto;
  padding-top: 2rem;
}

footer p {
  font-size: .7rem;
  margin: auto;
}


.home-body {
  background-image: url("../images/background-stripes.jpg");
  background-size: contain;
  background-position: 10% 50%;
  background-repeat: no-repeat;
  z-index: -2;
}



.wrapper {
  display: flex;
  position: relative;
}


.mainBar {
  font-family: 'Roboto', sans-serif;
  height: 70vh;
  left: 0;
  margin-left: 40px;
  margin-top: 40px;
}


h1 {
  color: #383838;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 44px;
  margin-top: 50px;
  margin-bottom: 10px;
  line-height: .5rem;
  /* text-shadow: 2px 1px 5px rgba(130,130,130, 50%) */
}


h3 {
  color: #6e61ff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  margin: 0;
  padding-top: 10px;
}


h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-top: 1vh;
}


p {
  color: #383838;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  line-height: 160%;
}


.main-card {
  background-color: #6e61ff;
  /* flex-direction: column; */
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.project-cards button {
  border-radius: 0 0 .4rem .4rem;
  border-width: 0;
  position: relative;
  bottom: 0;
}

.main-card a {
  color: #fff !important;
}



button {
  background-color: #FFE660;
  border-color: #E9E9E9;
  border-radius: .4rem;
  border-width: 0.3px;
  color: #383838;
  box-shadow: 2px 2px 4px rgba(0,0,0,25%);
  font-size: 14px;
  font-weight: 500;
  padding: 0.6rem;
}


button a {
  text-decoration: none;
  color: #383838;
}

button:hover {
  background-color: #6e61ff;
  color: #fff;

}

button a:hover {
  color: #fff;
}

button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}


.project-cards {
  display: flex;
  height: auto;
  margin: auto;
  overflow-x: none;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
}


.project-1 {
  background-color: #fff;
  border-radius: 0.4rem;
  border-width: 1px;
  border-style: solid;
  border-color: #f7f7f7;
  /* box-shadow: 10px 8px 10px 2px rgba(110,97,255, 12%); */
  text-align: center;
  width: 40vw;
  height: auto;
  opacity: .7;
}

.project-2 {
  background-color: #fff;
  border-radius: 0.4rem;
  border-width: 1px;
  border-style: solid;
  border-color: #f7f7f7;
  /* box-shadow: 10px 8px 10px 2px rgba(110,97,255, 12%) */
  text-align: center;
  height: auto;
  margin-left: 1.5rem;
  width: 40vw;
  opacity: .7;
}

.project-1 img {
  height: auto !important;
  width: 100% !important;
}

.project-2 img {
  height: auto !important;
  width: 100% !important;
}

.project-1:hover {
  text-align: center;
  opacity: 1;
}


.project-2:hover {
  text-align: center;
  opacity: 1;
}


.project-cards p {
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 30vw;
  padding-left: 3rem;
  text-align: center;
  margin-bottom: 8vh;
}


.project-1 a {
  text-align: center;
}


.headings-h3 a {
  text-decoration: none;
}

#see-work {
  margin-top: 11rem;
  margin-bottom: 6rem;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}


/************* ABOUT PAGE ***********/

.about-body {
  background-image: url("../images/about-background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}


.main-bio {
  display: block;
  margin: auto;
  text-align: center;
  padding-left: 2rem;
}

.main-bio h3 {
  color: #383838;
  font-size: 2rem;
  padding-top: 1.5rem;
}

.about-headings {
    display: flex;
    margin-top: 4rem;
}

.about-headings > h3 {
  flex: .1 auto;
}

.about-headings h3 {
  font-size: 3rem;
  font-weight: bolder;
}

.headings-h3 {
  display: block;
  padding-top: 4rem;
}


.bio {
  display: block;
  margin-top: 2rem;
  text-align: center;
}

.profile-picture img {
  height: auto;
  width: 20vw;
  border-radius: 50%;
  margin-top: 1rem;
  /* border-radius: 7%; */
}


.bio-yellow {
  color: #f7d830;
}


.bio-purple {
  color: #6E61FF;
}


.bio-paragraph {
  overflow-y: none;
  padding-top: 2rem;
  max-width: 50vw;
  text-align: left;
}

.bio-paragraph p {
  font-size: 1.2rem;
  line-height: 160%;
  font-weight: 400;
  max-width: 800px;
  color: #383838;
}

.footer-headings {
  display: flex;
  text-align: left;
  margin: auto;
  padding-bottom: 2rem;
}

.footer-headings h3 {
  font-size: 1.2rem !important;
  font-weight: 600;
}

.footer-headings > h3 {
  flex: .2 auto;
}

.footer-headings a {
  text-decoration: none;
  flex: .3 auto;
}

.footer-headings a:hover {
  text-decoration: underline;
  text-decoration-color: #6E61FF;
}

/* .footer-headings a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%236e61ff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: 3px 4px;
  background-repeat: no-repeat;
  text-decoration: none; */
}


/************* LETS EAT CASE STUDY PAGE ***********/

.caseStudy {
  height: 11vh;
  margin: 0;
}


.mainBarLong {
  background-color: rgba(255,255,255, 100%);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 1px 2px 4px #6e61ff1c;
}

#white-background {
  background-color: #fff;
}

.mainHeader {
  display: flex;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 8vh;
  box-shadow: 1px 2px 4px rgba(0,0,0,12%);
}


.longlogo {
  max-height: 5vh;
  width: auto;
  padding-top:.7rem;
}


.longh1 {
  font-size: 2vw;
  margin-left: 1.5rem;
  margin-top: 1.6rem;
  /* max-height: 5vh; */
  /* text-shadow: 2px 1px 5px rgba(130,130,130, 50%); */
  white-space: nowrap;
}

.longh1 a {
  text-decoration: none;
  color: #383838;
}


.topnav {
  align-items: center;
  display: inline;
  margin-left: auto;
  /* max-height: 5vh; */
  order: 2;
  padding-left: 2em;
  padding-top: 1.5rem;
  white-space: nowrap;
}


.topnav a {
  color: #383838;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

.topnav a:hover {
  font-size: 1.2rem;
  text-decoration: underline;
  text-decoration-color: rgba(255,230,96,100%);
}

.header-background img {
  height: 1rem;
  width: 100%;
}

#caseNavBar {
  background-color: #fff;
  border: 1px solid #f7f7f7;
  display: flex;
  /* height: 4vh; */
  justify-content: center;
  padding-top: .7rem;
  padding-bottom:.7rem;
  text-align: center;
  /* margin-top: .7rem; */
  box-shadow: 1px 2px 4px #6e61ff1c;
}


#caseNavBar a {
  color: #6e61ff;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 4rem;
  padding-right: 4rem;
  text-decoration: none;
  white-space: nowrap;
}

.nav-bar-long {
  padding-top: .7rem !important;
  border: 0.3px solid #f7f7f7 !important;
}


/*** intro section **/

.intro {
  background-color: rgba(110,97,255, 10%);
  display: flex;
  padding-top: 10vh;
  padding-bottom: 3rem;
  overflow-x: none;
}


#intro {
  padding-top: 20vh;
}


.left-text {
  color: #383838;
  justify-content: flex-start;
  margin-left: 10rem;
  margin-right: 2rem;
  min-width: 400px;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.left-text p {
  margin-left: 0;
}

.left-text h6 {
  margin-left: 0;
}


.heroh1 {
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  font-weight: 900;
  text-shadow: none;
  margin-bottom: 3rem;
}

.letseat-hero {
  padding-top: 4rem;
}


.letseat-hero img {
  height: auto;
  max-width: 35vw;
  padding-left: 5vw;
  width: 30vw;
}


/* overview section */

.overview {
  display: flex;
  padding-top: 2rem;
  max-width: 80vw;
}

.overview-hero {
  padding-top: 2rem;
}

.overview-hero img {
  height: auto;
  max-width: 40vw;
  min-width: 40vw;
  padding-left: 2vw;
}


h2 {
  color: #383838;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  border-bottom: 3px solid #FFE660;
  width: fit-content;
  height: fit-content;
}


.ux-list {
  display: flex;
  margin: 0 10rem;
  padding-bottom: 2rem;
  /* align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 3em; */
}


.ux-list ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.ux-list ul li p {
  padding: 0 !important;
}

.ux-list > div {
  /* border: 1px solid red; */
  flex: .3 auto;
}


h5 {
  font-size: 16px;
  font-weight: normal;
}


.ux-list h5 {
  border-bottom: 2px solid #6E61FF;
  color: #383838;
  font-size: 14px;
  font-weight:bold;
  width: fit-content;
  margin: 0 auto;
}


/* research section */

.research {
  background-color: rgba(110,97,255, 10%);
  display: flex;
  justify-content: flex-start;
  padding-top: 1rem;
}


.survey-images {
  background-color: rgba(110,97,255, 10%);
  display: flex;
  justify-content: flex-start;
  /* padding-bottom: 2em; */
  padding-left: 10rem;
}

.charts {
  margin-left: 0;
  padding-left: 0.7rem;
}

.survey-images img {
  height: auto;
  padding-right: 2vw;
  width: 23.5vw;
}

.takeaways {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}


h6 {
  border-bottom: 3px solid #6e61ff;
  font-size: 18px;
  font-weight: normal;
  padding-top: 1rem;
  margin: 0 auto;
  width: fit-content;
  color: #383838;
}

.h6-title {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 2px 2px 4px rgba(0,0,0,25%);
  border-radius: 0.4rem;
}

.h6-title li {
  color: #383838;
  line-height: 1.5;
}

/* user personas section */

.user-persona-images {
  display: flex;
  justify-content: flex-start;
}


.user-persona-images img {
  height: auto;
  padding-bottom: 3rem;
  padding-right: 4rem;
  width: 35vw;
}

.personas {
  margin-left: 10rem;
}

.user-persona-button {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

/* competitive analysis section */

.competitive-analysis {
  background-color: rgba(110,97,255, 10%);
  padding-top: 1rem;
}

.user2 {
  display: flex;
}

.user2 > img {
  flex: .5 auto;
}

.comp-images {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}


.comp-images img {
  height: auto;
  width: auto;
}

.analysis-images > img {
  flex: .3 auto;
}


.comp-analysis-button {
  background-color: rgba(110,97,255, 10%);
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}


/****** info Architecture section *******/

.arch-text {
  color: #383838;
  justify-content: flex-start;
  margin-right: 3rem;
  margin-left: 10rem;
  max-width: 400px;
  padding-bottom: 0;
  padding-top: 3rem;
}

.arch-text h5 {
  margin-top: 1.2rem;
  margin-bottom: 0;
}
.arch-text h6 {
  margin-left: 0;
  margin-top: 2rem;
}

.list-text {
  display: flex;
  padding-left: 10rem;
}


.list-text ul, p {
  font-size: 1rem;
  align-content: center;
  justify-content: center;
  max-width: 400px;
  padding-right: 2rem;
}


.list-text li {
  color: #6E61FF;
  font-size: 1.5rem;
  max-width: 400px;
  padding-bottom: 10px;
}


.list-text span {
  color: #383838;
  font-size: 14px;
}


.list-text a {
  text-decoration: none;
}


.user-task-images {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
}


.user-task-images img {
  height: auto;
  width: 100%;
}


.user-task-images p {
  font-style: italic;
  padding-bottom: 1rem;
  padding-right: 0;
  margin: auto;
}


.testing-images {
  height: 100% !important;
  width: 100% !important;
}


.wireframes {
  /* background-color: rgba(110,97,255, 10%); */
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.wireframe-sketches p {
  padding-right: 0;
}


.user-testing-1 {
  background-color: rgba(110,97,255, 10%);
  padding-bottom: 2rem;
}

.final-logo {
  width: auto !important;
  height: auto;
}


.brainstorming-image img {
  width: 80vw;
  height: auto;
}


#purple-background {
  background-color: rgba(110,97,255, 10%);
}


.back-to-top {
  font-family: Roboto;
  font-size: 1.2rem;
  /* float: right; */
  font-weight: bold;
  color: #383838;
  padding: 2rem;
  margin: 0;
}

.back-to-top a {
  float: right;
  text-decoration: none;
  color: #6E61FF;
}





/******************* MEDIA QUERIES *********************/


@media screen and (min-width: 300px) and (max-width: 767px) {

  .home-body {
    background-image: none;
  }

  .headings-h3 {
    text-align: left;
    padding-top: 1rem;
  }


  #see-work {
    margin-top: 3rem;
  }

  .wrapper {
    display: block;
    overflow-x: none;
  }

  .mainBar {
    text-align: center;
    height: 60vw;
    width: 100%;
    margin: auto;
    padding-top: 2vh;

  }

  .mainBar img {
    width: 40vw;
    height: auto;
  }


  h1 {
    font-size: 7vw;
    margin: 3vw;
  }

  h2 {
    font-size: 5vw;
  }

  h4 {
    font-size: 1rem;;
  }

  .project-cards {
    display: block;
    right: auto;
    margin-left: 0;
    overflow-y: none;
    margin-top: 1rem;
    height: auto;
  }

  .project-cards img {
    width: 100% !important;
    height: auto !important;
    margin-left: 0;
  }

  .project-1 {
    background-color: #fff;
    transition: none;
    position: relative;
    opacity: 1;
    width: 100%;
  }


  .project-cards p {
    font-size: 1rem;
    max-width: none;
  }

  .project-2 {
    transition: none;
    position: relative;
    opacity: 1;
    width: 100%;
    margin-left: 0;
    margin-top: 1.5rem;
  }


/* ABOUT PAGE */
  .about-body {
    background-image: none;
  }

  .mainBar {
    height: 55vw;
  }

  .about-headings {
    display:none;
  }

  .main-bio {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0rem;
    position: relative;
    background-color: none;
    box-shadow: none;
    border-radius: none;
    border-style: none;
    border-color: none;
    border-width: none;
    max-width: none;
    padding-left: 0;
    padding-top: 0;
  }

  .main-bio h3 {
    color: #383838;
    font-size: 1.6rem;
  }

  .bio {
    display: block;
    padding-left: .5rem;
    margin-top: 1rem;
  }

  .bio-paragraph {
    margin-left: 0;
    max-height: none;
    max-width: none;
    padding-top: 0;
  }

  .bio-paragraph p {
    color: #383838;
    font-size: 1rem;
  }

  .footer-headings {
    display: block;
  }


/* LETS EAT */

  .caseStudy {
    height: auto;
  }

  .mainBarLong {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    margin: auto;
  }

  .mainHeader {
    display: block;
    text-align: center;
    height: auto;
    margin: auto;
    padding-top: 2vh;
    padding-left: 0;
    padding-right: 0;
  }

  .mainHeader img {
    width: 40vw;
    height: auto;
  }

  .longh1 {
    font-size: 7vw;
    margin: 3vw;
    line-height: .5rem;
  }

  .longlogo {
    max-width:none;
  }

  .nav-bar-long {
    display: none !important;
  }

  .topnav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 6vw;
    width: 100%;
    background-color: #6e61ff;
  }

  .topnav > a {
    flex: .3 auto;
    font-size: 18px;
    font-weight: medium;
    padding: 6px 0px 10px 0px;
    margin: 0;
    color: #fff;
  }


  .heroh1 {
    font-size: 10vw;
    text-shadow: none;
    margin-left: 0;
    padding-bottom: 1vh;
  }

  #intro {
    display: block;
    padding-top: 0;
    padding-bottom: 2rem;
  }

  .intro {
    padding-bottom: 0;
  }

  .letseat-hero {
    display: none;
  }

  .left-text {
    margin: auto;
    padding: 2rem;
  }

  .left-text p {
    max-width: 300px;
  }

  .overview {
    display: block;
    padding: 0;
  }

  .overview-hero {
    display: none;
  }

  .ux-list {
    display: block;
    margin-left: 2rem;
    margin-right: 0;
    text-align: left;
  }

  .ux-list > div {
    flex: none;
    margin-bottom: 10vw;
  }

  .ux-list ul {
    text-align: left;
  }

  .ux-list h5 {
    margin: 0;
    font-size: 5vw;
  }

  .ux-list li {
    font-size: 4vw;
  }

  .research {
    padding: 0;
  }

  .competitive-analysis {
    padding: 0;
  }

  .survey-images {
    display: block;
    padding-left: 2rem;
  }

  .survey-images img {
    padding-right: 0;
    width: 75vw;
  }

  .left-text img {
    display: none;
  }

  .takeaways {
    display: block;
    padding: 2rem;
  }

  .takeaways li {
    line-height: 1.5;
    color: #383838;
  }

  .takeaways ul {
    padding-left: 2rem;
  }

  h6 {
    margin-left: 2rem;
    margin-right: 0;
  }

  .takeaways h6 {
    margin-left: 2rem;
  }


  .personas {
    margin-left: 0;
  }

  .persona-large {
    display: none;
  }

  .user-persona-images img {
    width: 80vw;
    padding-left: 2rem;
    padding-right: 0;
    padding-bottom: 0;
  }

  .wireframe-sketches {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    width: auto;
    height:auto;
  }

  .wireframe-sketches img {
    width: 100%;
    height:auto;
  }


  .takeaways img {
    display: none;
  }

  .arch-text {
    margin-left: 2rem ;
    padding-top: 2rem;
  }

  .arch-text h5 {
    padding-bottom: 1rem;
  }

  .arch-text h6 {
    margin-top: 0;
  }

  .list-text {
    padding-left: 2rem;
    padding-top: 1rem;
    margin-left: 0;
    display: block;
  }

  .list-text ul {
    margin: 0;
  }

  .comp-images {
    padding-left: 2rem;
    padding-top: 0;
  }

  .comp-images img {
    width: 80vw;
    height: auto;
  }

  .user2 {
    display: block;
  }

  .task-large {
    display: none;
  }

  .user-task-images p {
    display: none;
  }

  .sketches-large {
    display: none;
  }

  #sketches-mobile {
    width: auto !important;
    height: auto !important;
  }


  .digital-wires-large {
    display: none;
  }

  .digital-wires-mobile {
    height: auto !important;
    width: auto !important;
    padding: 0;
  }

  .testing-images {
    display: none;
  }

  .moodboard {
    display: none;
  }

  .logos {
    display: none;
  }

  .user2-large {
    display: none;
  }

  #iterations-mobile {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .no-display {
    display: none;
  }

  #no-display {
    display: none;
  }

  .user-persona-button {
    margin-bottom: 2rem;
    margin-top: 1em;
  }

  .comp-analysis-button {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  .brainstorming-image-mobile {
    display: block;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin:0 !important;
  }

  .brainstorming-image-mobile img {
    width: 100%;
    height: auto;
  }

  .brainstorming-image-mobile div {
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
  }

}
@media screen and (min-width: 601px){
  .mainHeader h3 {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){

/* INDEX */


  .project-1 {
    width: 55vw;
    opacity: 1;
  }

  .project-2 {
    width: 55vw;
    opacity: 1;
  }

  .project-cards img {
    width: 17vw;
  }

  .project-cards p {
    font-size: 1.2rem;
  }

  .mainHeader {
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .mainHeader h3 {
    display: none;
  }

  .topnav {
    padding-top: 3.5vh;
  }

  #caseNavBar {
    height: auto;
    width: 100%;
    padding-bottom: 1.5vh;
  }

  #caseNavBar > a {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  }



  .heroh1 {
    margin-bottom: 2rem;
  }
/* ABOUT PAGE */

  .about-body {
    background-image: url(../images/about-background-mobile.svg);
    background-size: cover;
  }

  .main-bio {
    margin-top: 2rem;
    padding-left: 1rem;
    max-width: 55vw;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .main-bio h3 {
    font-size: 1.2rem;
  }

  .bio {
    display: block;
    margin-top: .5rem;
  }

  .bio-paragraph {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .profile-picture img {
    width: 50vw;
    height: auto;
  }

  .mainBar img {
    width: 30vw;
  }

  .mainBar h1 {
    margin-top: 40px;
    font-size: 40px;
  }

/* CASE STUDY */

  #intro {
    padding-top: 0;
  }

  .left-text {
    margin-left: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    max-width: 400px;
    min-width: 40vw;
  }

  .problem,.solution {
    max-width: 40vw;
    min-width: 40vw;
    margin-right:0;
  }

  .letseat-hero img {
    padding-left: 3rem;
    margin-right: 3rem;
  }

  .overview-hero img {
    max-width: 45vw;
    padding-left: 0;
    padding-top: 2rem;
  }

  .ux-list {
    padding-top: 2rem;
  }

  .survey-images {
    justify-content: center;
    padding-left: 0;
    padding-top: 1rem;
  }

  .user-persona-images {
    justify-content: center;
  }

  .personas {
    margin-left: 4rem;
  }

  .comp-images {
    padding-top: 1rem;
  }

  .comp-images img {
    height: 100%;
    width: 27vw;
  }

  .arch-text {
    padding-top: 2rem;
    margin-left: 3rem;

  }

  .list-text {
    padding-left: 3rem;
  }

  .wireframes {
    padding-top: 0;
    padding-bottom: .1rem;
  }

  .user-persona-button {
    margin-bottom: 2rem;
  }

  .comp-analysis-button {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  .final-logo {
    width: 70vw !important;
  }

  .left-text img {
    width: 70vw;
  }

  .persona-mobile {
    display: none;
  }

  .sketches-mobile {
    display: none;
  }

  #iterations-mobile {
    display: none;
  }

  .digital-wires-mobile {
    display: none;
  }

  #sketches-mobile {
    display: none;
  }

  .brainstorming-image-mobile {
    display: none;
  }

}

@media screen and (min-width: 1025px) {

  /* .topnav a {
    font-size: 1.4rem;
  } */

  .mainHeader h3 {
    display: none;
  }

  .header-background img {
    width: 100%;
  }

  .persona-mobile {
    display: none;
  }

  #sketches-mobile {
    display: none;
  }

  #iterations-mobile {
    display: none;
  }

  .brainstorming-image-mobile {
    display: none;
  }

}
