/* HOME PAGE */
html, body {
  font-family: 'Roboto',sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #fff;
  margin: 0;
}

.wrapper {
  display: flex;
}


.menu {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
  display: block;
  text-align: center;
  border-right: 1px solid #6e61ff30;
}

.longh1 a {
  text-decoration:none;
  font-size: 1.5rem;
}

.menu img {
  margin-top: 2rem;
  width: 50%;
}

.menu-section p {
  padding-right: 0;
}

.menu-section h1 {
  font-family: "Permanent Marker";
  font-size: 1rem;
  font-weight: 600;
}

.nav {
  margin-top: 50%;
}

.nav a {
  font-size: 1rem;
  display: block;
  margin-top: 10vh;
  color: #111;
  text-decoration: none;
}

.nav a:hover {
  color: #6e61ff;
}

.nav p {
  font-size: .8rem;
  color: #383838;
}

hr {
  border: 2px solid #6e61ff;
  margin-left: 4rem;
  margin-right: 4rem;
}

.main {
  /* margin: auto; */
  text-align: center;
  margin-left: 200px;
}


.hr-bio {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.main-bio {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #6e61ff;
  width: 100vw;
  border-bottom: 10px solid #6e61ff;
}

.main-bio > div{
  flex: .2 auto;
}

.bio-pic {
  background-color: #000;
  /* background-image: url("./noise.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100vw; */
  height: auto;
  padding-left: 700px;
}


.bio-pic img {
  height: 60vh;
  width: auto;
}

.bio {
  margin-top: 5rem;
  margin-left: -200px;
  background-color: white;
  margin-bottom: 5rem;
}

.bio h1 {
  font-family: "Permanent Marker";
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.bio p {
  font-size: .8rem;
}

.header-maria {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-image: url("../images/line.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-maria p {
  margin: 0;
  max-width: none;
  padding-right:0;
}

.paragraphs {
  padding-top: 2rem;
  display: flex;
  margin: auto;
  max-width: 1000px;
  margin-bottom: 3rem;
}

.bio-paragraph {
  display: block;
  text-align: left;
  max-width: 450px;
  margin-left: 200px;
  line-height: 140%;
}

.bio-paragraph a {
  text-decoration: none;
}

.purple-text {
  color: #6e61ff;
}

.links {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3rem;
}

.links h3 {
  margin: 0;
  font-family: "Permanent Marker";
}

.links p {
  padding-right: 0;
  margin-top: 0;
}

.links img {
  width: 10vh;
  height: auto;
  /* margin-top: 3rem; */
  margin-bottom: .5rem;
}

.links a {
  text-decoration: none;
  color: black;
}

.links a:hover {
  color: #6e61ff;
}

.collapsible {
  background-color: #6E61FF;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 850px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-left: 200px;
  text-align: center;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.long-hr {
  width: 950px;
}

.xop-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: block;
  margin-left: 130px;
  margin-right: 130px;
  max-width: 1000px;
}

.xop-container div {
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center; */
}

#coming-soon {
  margin-left: 8rem;
}


.xop-left {
  background-image: url("../images/climbing-hero.png");
  background-size: cover;
  background-position: center;
  /* flex: .3; */
  width: 60vw;
  height: 40vh;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  filter: grayscale(100%);
  /* min-width: 40vw; */
  /* min-height: 30vh; */
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.xop-right {
  background-image: url("../images/lets-eat.png");
  background-size: cover; */
  background-position: center;
  /* flex: .5; */
  width: 60vw;
  height: 40vh;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  filter: grayscale(100%);
  /* min-width: 40vw; */
  /* height: auto; */
  margin-left: 1rem;
}
.xop-left:hover,
.xop-right:hover {
  transform: scale(0.95);
  filter: hue-rotate(0deg);
}
.xop-container h1 {
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  line-height: 100%;
  white-space: nowrap;
}

.xop-button {
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  padding: 10px 6px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  width: 200px;
  margin-top: 6rem;
  margin-bottom: auto;
}

.xop-button:hover {
  background: #6e61ff;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .xop-container {
    flex-direction: column;
  }
}


.contact {
  display: flex;
  margin-left: 10rem;
  margin-bottom: 3rem;
  text-align: left;
}

.contact-info {
  width: 200px;
  margin-top: -1rem;
  margin-right: 2rem;
}

.contact-info p {
  font-size: .9rem;
}

.contact-links a {
  text-decoration: none;
  display: inline;
}

.contact-links p {
  font-size: .9rem;
  color: #6e61ff;
  font-family: "Permanent Marker";
}

.contact-form {
  display: block;
}

.contact-form button {
  color: white;
  font-size: 1.2rem;
  width: 6rem;
  border-radius: 7%;
  background-color: #6e61ff;
  font-family: "Permanent Marker", 'Roboto', sans-serif;
}


form {
  display: block !important;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 100%;
  padding: .3rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-color: #6e61ff25;
  outline: none;
  border-width: 2px;
}

input:focus {
  border-color: #6e61ff;
}

textarea {
  display: block!important;
  font-size: 1rem;
  min-height: 10vh;
  width: 100%;
  padding: .3rem;
  margin-bottom: 1rem;
  border-color: #6e61ff25;
  border-width: 2px;
  outline: none;
}

textarea:focus {
  border-color: #6e61ff;
}

footer {
  text-align: center;
  margin: auto;
  padding-top: 2rem;
}

footer p {
  font-size: .7rem;
  margin: auto;
  padding-right: 0;
}

.mainBar {
  font-family: 'Roboto', sans-serif;
  height: 70vh;
  left: 0;
  margin-left: 40px;
  margin-top: 40px;
}


h1 {
  color: #383838;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 44px;
  margin-top: 50px;
  margin-bottom: 10px;
  line-height: .5rem;
}


h3 {
  color: #6e61ff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  margin: 0;
  padding-top: 10px;
}


h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-top: 1vh;
}


p {
  color: #383838;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  line-height: 160%;
}


button {
  background-color: #FFE660;
  border-color: #E9E9E9;
  border-radius: .4rem;
  border-width: 0.3px;
  color: #383838;
  box-shadow: 2px 2px 4px rgba(0,0,0,25%);
  font-size: 14px;
  font-weight: 500;
  padding: 0.6rem;
}


button a {
  text-decoration: none;
  color: #383838;
}

button:hover {
  background-color: #6e61ff;
  color: #fff;
  cursor: pointer;

}

button a:hover {
  color: #fff;
}

button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}


/************* LETS EAT CASE STUDY PAGE ***********/

.case-study {
  background-color: rgba(255,255,255, 100%);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

#caseNavBar {
  background-color: #fff;
  border: 1px solid #f7f7f7;
  display: flex;
  /* height: 4vh; */
  justify-content: center;
  padding-top: .7rem;
  padding-bottom:.7rem;
  text-align: center;
  /* margin-top: .7rem; */
  box-shadow: 1px 2px 4px #6e61ff30;
  margin-left: 200px;
}


#caseNavBar a {
  color: #6e61ff;
  font-family: "Permanent Marker", 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 3rem;
  padding-right: 3rem;
  text-decoration: none;
  white-space: nowrap;
}


#white-background {
  background-color: #fff;
}

.longh1 a {
  text-decoration: none;
  color: #383838;
}

.header-background img {
  height: 1rem;
  width: 100%;
}


.nav-bar-long {
  padding-top: .7rem !important;
  /* border-bottom: 1px solid rgba(110,97,255, 10%); */
  box-shadow: 1px 2px 4px rgba(110, 97, 255, 30%) !important;
}


/*** intro section **/

.intro {
  display: flex;
  padding-top: 10vh;
  padding-bottom: 3rem;
  overflow-x: none;
  margin-left: 8rem;
}


#intro {
  padding-top: 20vh;
  margin-left: 14rem;
}

#intro p {
  max-width: 400px;
}

.intro-climbing {
  display: flex;
  margin-left: 14rem;
  padding-top: 3rem;
}


.left-text {
  color: #383838;
  justify-content: flex-start;
  margin-left: 8rem;
  margin-right: 2rem;
  min-width: 400px;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.left-text p {
  margin-left: 0;
}

.left-text h6 {
  margin-left: 0;
}

/*** CLIMBING BETA ***/

.left-text-climbing {
  color: #383838;
  justify-content: flex-start;
  margin-left: 3rem;
  margin-right: 2rem;
  min-width: 400px;
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin-top: 4rem;
}

.left-text-climbing p {
  max-width: 400px;
}


.heroh1 {
  font-family: "Permanent Marker", 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: none;
  margin-bottom: 3rem;
}

.letseat-hero {
  padding-top: 4rem;
}


.letseat-hero img {
  height: auto;
  width: 25vw;
}

/*** CLIMBING BETA ***/
.climbing-hero img {
  height: auto;
  padding-top: 3rem;
  margin-left: 4rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 30vw;
}


/* overview section */

.overview {
  display: flex;
  margin-left: 200px;
  padding-top: 2rem;
  max-width: 80vw;
}

.overview-hero {
  padding-top: 7rem;
}

.overview-hero img {
  height: auto;
  width: 30vw;
  margin-left: 1rem;
}

/* CLIMBING BETA */
.overview-climbing-hero img {
  height: auto;
  width: 30vw;
  margin-left: 1rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}



h2 {
  color: #383838;
  font-family: "Permanent Marker", 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  border-bottom: 3px solid #FFE660;
  width: fit-content;
  height: fit-content;
}


.ux-list {
  display: flex;
  margin-left: 250px;
  padding-bottom: 2rem;
}


.ux-list ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.ux-list ul li p {
  padding: 0 !important;
}

.ux-list > div {
  flex: .3 auto;
}


h5 {
  font-size: 16px;
  font-weight: normal;
}


.ux-list h5 {
  border-bottom: 2px solid #6E61FF;
  color: #383838;
  font-size: 14px;
  font-weight:bold;
  width: fit-content;
  margin: 0 auto;
}


/* research section */

.research {
  margin-left: 200px;
  background-color: rgba(110,97,255, 10%);
  display: flex;
  justify-content: flex-start;
}


.survey-images {
  background-color: rgba(110,97,255, 10%);
  margin-left: 200px;
  display: flex;
  justify-content: flex-start;
}

.charts {
  margin-left: 8rem;
}

.survey-images img {
  height: auto;
  padding-right: 2vw;
  width: 20vw;
}

.takeaways {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-left: 200px;
}

.user-personas {
  margin-left: 200px;
}

h6 {
  border-bottom: 3px solid #6e61ff;
  font-size: 18px;
  font-weight: normal;
  padding-top: 1rem;
  margin: 0 auto;
  width: fit-content;
  color: #383838;
}

.h6-title {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 2px 2px 4px rgba(0,0,0,25%);
  border-radius: 0.4rem;
  max-width: 600px;
}

.h6-title li {
  color: #383838;
  line-height: 1.5;
}


.personas {
  margin-left: 8rem;
  margin-right: 8rem;
  display: flex;
  margin-bottom: 2rem;
}

.personas > div {
  flex: .2 auto;
}

.container {
  display: block;
  min-width: 350px;
  max-width: 500px;
  background-color: white;
  color: #383838;
  font-family: Roboto;
  padding: 1rem;
  border-radius: 7px;
  margin: .5rem;
  border: 1px solid #6e61ff29;
  box-shadow: 2px 2px 4px #6e61ff42;
}

.container p {
  color: #383838;
  padding-right: 0 !important;
  margin-top: .2rem;
  margin-bottom: .2rem;
}

.container h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #6e61ff;
}

.container h4 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.row-one {
  display: block;
  border-bottom: 2px solid #6e61ff5e;
  padding-bottom: .5rem;
}

.row-one>div {
  flex: .2 auto;
}

.carmen {
  margin: auto;
  text-align: center;
}

.carmen img {
  width: 15vw;
  margin: auto;
}

.carmen-bio {
  display: block;
  height: auto;
  margin-left: 1rem;
}

.carmen-paragraph {
  border-bottom: 2px solid #6e61ff5e;
  padding-left: 1rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
}


.row-three {
  display: flex;
}

.row-three>div {
  flex: .2 auto;
}

.user-list {
  display: block;
  padding-left: 1rem;
  padding-top: .5rem;
}

.user-list ul {
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 160%;
  margin-top:.5rem;
}

.user-list li {
  padding-bottom: .7rem;
}

.user-persona-button {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

/* competitive analysis section */

.competitive-analysis {
  margin-left: 200px;
  background-color: rgba(110,97,255, 10%);
  padding-top: 1rem;
}

.user2 {
  display: flex;
}

.user2 > img {
  flex: .5 auto;
}

.comp-images {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}


.comp-images img {
  height: auto;
  width: 26vw;
}

.analysis-images {
  margin-left: 200px;
}

.analysis-images > img {
  flex: .3 auto;
}


.comp-analysis-button {
  background-color: rgba(110,97,255, 10%);
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  margin-left: 200px;
}


/****** info Architecture section *******/


.info-arch {
  margin-left: 200px;
}

.arch-text {
  color: #383838;
  justify-content: flex-start;
  margin-right: 3rem;
  margin-left: 8rem;
  max-width: 800px;
  padding-bottom: 0;
  padding-top: 3rem;
}

.arch-text h5 {
  margin-top: 1.2rem;
  margin-bottom: 0;
}
.arch-text h6 {
  margin-left: 0;
  margin-top: 2rem;
}

#extra-space {
  /* padding-left: 17%; */
  max-width: 800px;
}

.list-text {
  display: flex;
  padding-left: 8rem;
}


.list-text ul, p {
  font-size: 1rem;
  align-content: center;
  justify-content: center;
  max-width: 800px;
  padding-right: 2rem;
}


.list-text li {
  color: #6E61FF;
  font-size: 1.5rem;
  max-width: 400px;
  padding-bottom: 10px;
}


.list-text span {
  color: #383838;
  font-size: 14px;
}


.list-text a {
  text-decoration: none;
}


.user-task-images {
  margin-left: 200px;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
}


.user-task-images img {
  height: auto;
  width: 80%;
}


.user-task-images p {
  font-style: italic;
  padding-bottom: 1rem;
  padding-right: 0;
  margin: auto;
}


.testing-images {
  height: auto !important;
  width: 80% !important;
}


.wireframes {
  padding-bottom: 1rem;
  margin-left: 200px;
}

.wireframe-sketches {
  margin-left: -14rem;
}

.wireframe-sketches p {
  padding-right: 0;
}


.user-testing-1 {
  background-color: rgba(110,97,255, 10%);
  padding-bottom: 2rem;
  margin-left: 200px;
}

.visual-design {
  margin-left: 200px;
}

.logo {
  margin-left: 200px;
}

.logos {
  margin-left: 200px;
}

.final-logo {
  width: auto !important;
  height: auto;
  margin-left: 200px;
}

.branding {
  margin-left: 200px;
}


.brainstorming-image img {
  width: 80%;
  height: auto;
}

.brainstorming-image {
  margin-left: -14rem;
  margin-top: -2rem;
}

.brainstorming-image p {
  margin-left: 14rem;
  margin-bottom: 3rem;
}


#purple-background {
  background-color: rgba(110,97,255, 10%);
}


.back-to-top {
  font-family: Roboto;
  font-size: 1.2rem;
  /* float: right; */
  font-weight: bold;
  color: #383838;
  padding: 2rem;
  margin: 0;
}

.back-to-top a {
  float: right;
  font-family: "Permanent Marker";
  text-decoration: none;
  color: #6E61FF;
}

.user-test-2 {
  margin-left: 200px;
}





/******************* MEDIA QUERIES *********************/


@media screen and (min-width: 300px) and (max-width: 767px) {

  .home-body {
    background-image: none;
  }

  .headings-h3 {
    text-align: left;
    padding-top: 1rem;
  }


  #see-work {
    margin-top: 3rem;
  }

  .wrapper {
    display: block;
    overflow-x: none;
  }

  .mainBar {
    text-align: center;
    height: 60vw;
    width: 100%;
    margin: auto;
    padding-top: 2vh;

  }

  .mainBar img {
    width: 40vw;
    height: auto;
  }


  h1 {
    font-size: 7vw;
    margin: 3vw;
  }

  h2 {
    font-size: 5vw;
  }

  h4 {
    font-size: 1rem;;
  }

  .project-cards {
    display: block;
    right: auto;
    margin-left: 0;
    overflow-y: none;
    margin-top: 1rem;
    height: auto;
    max-width: none;
  }

  .project-cards img {
    width: 100% !important;
    height: auto !important;
    margin-left: 0;
  }

  .project-1 {
    background-color: #fff;
    transition: none;
    position: relative;
    opacity: 1;
    width: 100%;
  }


  .project-cards p {
    font-size: 1rem;
    max-width: none;
  }

  .project-2 {
    transition: none;
    position: relative;
    opacity: 1;
    width: 100%;
    margin-left: 0;
    margin-top: 1.5rem;
  }


/* ABOUT PAGE */
  .about-body {
    background-image: none;
  }

  .mainBar {
    height: 55vw;
  }

  .about-headings {
    margin-top: 1rem;
  }

  .main-bio {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0rem;
    position: relative;
    background-color: none;
    box-shadow: none;
    border-radius: none;
    border-style: none;
    border-color: none;
    border-width: none;
    max-width: none;
    padding-left: 0;
    padding-top: 0;
  }

  .main-bio h3 {
    color: #383838;
    font-size: 1.7rem;
  }

  .bio {
    display: block;
    padding-left: .5rem;
    margin-top: 1rem;
  }

  .bio-paragraph {
    margin-left: 0;
    max-height: none;
    max-width: none;
    padding-top: 0;
  }

  .bio-paragraph p {
    color: #383838;
    font-size: 1rem;
  }

  .profile-picture img {
    width: 100%;
  }

  .footer-headings {
    display: block;
  }

/* CONTACT */

/* form {
  max-width: 80%;
}

input {
  width: 100%;
  border-color: #6e61ff5c;
}

textarea {
  border-color: #6e61ff5c;
}

.contact {
  margin-top: 8vh;
} */

/* LETS EAT */

  .caseStudy {
    height: auto;
  }

  .mainBarLong {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    margin: auto;
  }

  .mainHeader {
    display: block;
    text-align: center;
    height: auto;
    margin: auto;
    padding-top: 2vh;
    padding-left: 0;
    padding-right: 0;
  }

  .mainHeader img {
    width: 40vw;
    height: auto;
  }

  .longh1 {
    font-size: 7vw;
    margin: 3vw;
    line-height: .5rem;
  }

  .longlogo {
    max-width:none;
  }

  .nav-bar-long {
    display: none !important;
  }

  .topnav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 6vw;
    width: 100%;
    /* background-color: #6e61ff; */
    background-color: white;
    border: 1px solid #6e61ff2b;
  }

  .topnav > a {
    flex: .3 auto;
    font-size: 18px;
    font-weight: medium;
    padding: 6px 0px 10px 0px;
    margin: 0;
    /* color: #fff; */
    color: #6e61ff;
  }


  .heroh1 {
    font-size: 10vw;
    text-shadow: none;
    margin-left: 0;
    padding-bottom: 1vh;
  }

  #intro {
    display: block;
    padding-top: 0;
    padding-bottom: 2rem;
  }

  .intro {
    padding-bottom: 0;
  }

  .letseat-hero {
    display: none;
  }

  .left-text {
    margin: auto;
    padding: 2rem;
  }

  .left-text p {
    max-width: 300px;
  }

  .overview {
    display: block;
    padding: 0;
  }

  .overview-hero {
    display: none;
  }

  .ux-list {
    display: block;
    margin-left: 2rem;
    margin-right: 0;
    text-align: left;
  }

  .ux-list > div {
    flex: none;
    margin-bottom: 10vw;
  }

  .ux-list ul {
    text-align: left;
  }

  .ux-list h5 {
    margin: 0;
    font-size: 5vw;
  }

  .ux-list li {
    font-size: 4vw;
  }

  .research {
    padding: 0;
  }

  .personas {
    display: block;
    margin-right:0;
    text-align: center;
  }

  .container {
    margin: 2rem;
  }

  .row-one {
    display: block;
  }

  .carmen-bio {
    margin-left: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .carmen img {
    width: auto !important;
    padding-left: 0 !important;
  }

  .carmen-paragraph {
    padding-left: 3rem;
    padding-right: 3rem;
    border-bottom: none;
  }

  .row-three {
    display: block;
  }

  .user-list {
    padding-left: 5rem;
    padding-right: 5rem;
    border-top: 2px solid #6e61ff57;
  }

  .competitive-analysis {
    padding: 0;
  }

  .survey-images {
    display: block;
    padding-left: 2rem;
  }

  .survey-images img {
    padding-right: 0;
    width: 75vw;
  }

  .left-text img {
    display: none;
  }

  .takeaways {
    display: block;
    padding: 2rem;
  }

  .takeaways li {
    line-height: 1.5;
    color: #383838;
  }

  .takeaways ul {
    padding-left: 2rem;
  }

  h6 {
    margin-left: 2rem;
    margin-right: 0;
  }

  .takeaways h6 {
    margin-left: 2rem;
  }


  .personas {
    margin-left: 0;
  }

  .persona-large {
    display: none;
  }

  .user-persona-images img {
    width: 80vw;
    padding-left: 2rem;
    padding-right: 0;
    padding-bottom: 0;
  }

  .wireframe-sketches {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    width: auto;
    height: auto;
  }

  .wireframe-sketches img {
    width: 100%;
    height: auto;
  }


  .takeaways img {
    display: none;
  }

  .arch-text {
    margin-left: 2rem ;
    padding-top: 2rem;
  }

  .arch-text h5 {
    padding-bottom: 1rem;
  }

  .arch-text h6 {
    margin-top: 0;
  }

  .list-text {
    padding-left: 2rem;
    padding-top: 1rem;
    margin-left: 0;
    display: block;
  }

  .list-text ul {
    margin: 0;
  }

  .comp-images {
    padding-left: 2rem;
    padding-top: 0;
  }

  .comp-images img {
    width: 80vw;
    height: auto;
  }

  .user2 {
    display: block;
  }

  .task-large {
    display: none;
  }

  .user-task-images p {
    display: none;
  }

  .sketches-large {
    display: none;
  }

  #sketches-mobile {
    width: auto !important;
    height: auto !important;
  }


  .digital-wires-large {
    display: none;
  }

  .digital-wires-mobile {
    height: auto !important;
    width: auto !important;
    padding: 0;
  }

  .testing-images {
    display: none;
  }

  .moodboard {
    display: none;
  }

  .logos {
    display: none;
  }

  .user2-large {
    display: none;
  }

  #iterations-mobile {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .no-display {
    display: none;
  }

  #no-display {
    display: none;
  }

  .user-persona-button {
    margin-bottom: 2rem;
    margin-top: 1em;
  }

  .comp-analysis-button {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  .brainstorming-image-mobile {
    display: block;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin:0 !important;
  }

  .brainstorming-image-mobile img {
    width: 100%;
    height: auto;
  }

  .brainstorming-image-mobile div {
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
  }

}
@media screen and (min-width: 601px){
  .mainHeader h3 {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){

/* INDEX */


  .project-1 {
    width: 55vw;
    opacity: 1;
  }

  .project-2 {
    width: 55vw;
    opacity: 1;
  }

  .project-cards {
    max-width: none;
    width: 100%;
  }

  .project-cards img {
    width: 17vw;
  }

  .project-cards p {
    font-size: 1.2rem;
  }

  .mainHeader {
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .mainHeader h3 {
    display: none;
  }

  .topnav {
    padding-top: 3.5vh;
  }

  #caseNavBar {
    height: auto;
    width: 100%;
    padding-bottom: 1.5vh;
  }

  #caseNavBar > a {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  }



  .heroh1 {
    margin-bottom: 2rem;
  }
/* ABOUT PAGE */

  .about-body {
    background-image: url(../images/about-background-mobile.svg);
    background-size: cover;
  }

  .main-bio {
    margin-top: 2rem;
    padding-left: 1rem;
    max-width: 55vw;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .main-bio h3 {
    font-size: 2.7rem;
  }

  .bio {
    display: block;
    margin-top: .5rem;
  }

  .bio-paragraph {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .profile-picture img {
    width: 100%;
    height: auto;
  }

  .mainBar img {
    width: 30vw;
  }

  .mainBar h1 {
    margin-top: 40px;
    font-size: 40px;
  }

/* CONTACT */

form {
  max-width: 80vw;
}

/* CASE STUDY */

  #intro {
    padding-top: 0;
  }

  .left-text {
    margin-left: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    max-width: 400px;
    min-width: 40vw;
  }

  .problem,.solution {
    max-width: 40vw;
    min-width: 40vw;
    margin-right:0;
  }

  .letseat-hero img {
    padding-left: 3rem;
    margin-right: 3rem;
  }

  .overview-hero img {
    max-width: 45vw;
    padding-left: 0;
    padding-top: 2rem;
  }

  .ux-list {
    padding-top: 2rem;
  }

  .survey-images {
    justify-content: center;
    padding-left: 0;
    padding-top: 1rem;
  }

  .user-persona-images {
    justify-content: center;
  }

  .personas {
    margin-left: 4rem;
  }

  .comp-images {
    padding-top: 1rem;
  }

  .comp-images img {
    height: 100%;
    width: 27vw;
  }

  .arch-text {
    padding-top: 2rem;
    margin-left: 3rem;

  }

  .list-text {
    padding-left: 3rem;
  }

  .wireframes {
    padding-top: 0;
    padding-bottom: .1rem;
  }

  .user-persona-button {
    margin-bottom: 2rem;
  }

  .comp-analysis-button {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  .final-logo {
    width: 70vw !important;
  }

  .left-text img {
    width: 70vw;
  }

  .persona-mobile {
    display: none;
  }

  .sketches-mobile {
    display: none;
  }

  #iterations-mobile {
    display: none;
  }

  .digital-wires-mobile {
    display: none;
  }

  #sketches-mobile {
    display: none;
  }

  .brainstorming-image-mobile {
    display: none;
  }

}

@media screen and (min-width: 1025px) {

/* CONTACT */



/*LETS EAT */

  .mainHeader h3 {
    display: none;
  }

  .header-background img {
    width: 100%;
  }

  .persona-mobile {
    display: none;
  }

  #sketches-mobile {
    display: none;
  }

  #iterations-mobile {
    display: none;
  }

  .brainstorming-image-mobile {
    display: none;
  }

}
